.about img {
    border-radius: 50%;
    width: 20%;
}

.center {
    text-align: center;
}

.embed iframe {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(219, 219, 219);
    max-width: 658px;
    width: calc(100% - 4px);
    border-radius: 4px;
    box-shadow: none;
    display: block;
    padding: 0;
    height: 400px;
    margin: 0 auto 2rem;
}

.embed.instagram {
    width: 70%;
    margin-left: 110px;
}

p {
    margin: 0;
}

.twitter-share-button {
    float: right;
}

tr {
    background-color: #fffaef !important;
    border-bottom: 0;
}

tr:nth-child(even) {
    background-color: #fffaef !important;
}

.footer {
    padding: 2rem 0 0 0;
}

.social {
    display: flex;
    justify-content: flex-start;
}

.twitter-share {
    float: right;
    color: #00aced;
}

.fb-share {
    padding-right: 10px;
}

.fa-facebook-square {
    color: #4267b2;
}